# My Jupyter Notebook on IBM Watson Studio

**Maryia**

  Molecular Oncologiest

*I'm interested in data science because I'm working on my PhD and I want to study analysis to get maximum infomation from my research. Also I see a good perspective to use it in future for a lot of medical purpose.*

### Integer Addition

In [8]:
2+7

9

***
1. Write down first integer
   * 1, 23, 784 for example ~~not 1,23~~
2. Write down second integer
   * 2, 24, 785 for exaple
3. Put + between them

| *Integer* | `Integer +1` | **Integer +2** |
|-----------|:------------:|:--------------:|
|    1      |       2      |        3       |

<a href="https://www.pexels.com/photo/white-and-grey-kitten-on-brown-and-black-leopard-print-textile-45201/"> The white kitten